:root {
    --bg-main: #0B1220;
    --bg-card: #111827;
    --primary-blue: #2563EB;
    --primary-light: #3B82F6;
    --text-main: #F9FAFB;
    --text-muted: #9CA3AF;
    --border-color: #1F2937;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}